@{ 
    Layout = null;
}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>

    @*Bootstrap css files*@
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />


    <link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body>


    <div>
        THese are changes
    </div>


</body>
</html>